:root {
  --header-height: 85px;
  --color-1: #244F75;
  --color-2: #60BFBF;
  --color-3: #8C4B7E;
  --color-4: #F8BB44;
  --color-5: #F24B4B;
}

html { box-sizing: border-box }
*, *:after, *:before { box-sizing: inherit }

body {
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetical Neue', sans-serif;
    padding: 0;
    margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  padding-left: 2em;
}
h1 { font-weight: 100 }

header,
h1 { transition: .3s }

section { height: 100vh }

section:nth-of-type(1) { background-color: var(--color-1) }
section:nth-of-type(2) { background-color: var(--color-2) }
section:nth-of-type(3) { background-color: var(--color-3) }
section:nth-of-type(4) { background-color: var(--color-4) }
section:nth-of-type(5) { background-color: var(--color-5) }

.box {
  border-radius: 4px;
  background-color: #f7f7f7;
  min-height: 100px;
}

.titleScrolled {
  color: white;
  transform: translateX(100px);
}

.scrolled {
  background-color: rgba(0,0,0,.7);
}
